{% embed "admin/base.twig" with { page: 'create_collection' } %}
    {% block content %}
        <section class="h-edit-collection">
            <ul class="breadcrumbs mb-1 is-size-7">
                <li><a href="../">{{ i18n.breadcrumb_admin }}</a></li>
                <li>{{ i18n.lbl_heading_create_collection }}</li>
            </ul>
            <h1 class="title is-1">
                {% if collection.resources is not empty %}
                    {{ i18n.lbl_heading_edit_collection}}
                {% else %}
                    {{ i18n.lbl_heading_create_collection }}
                {% endif %}
            </h1>

                {% if is_created_successfully %}
                    <article class="message is-success">
                        <div class="message-body">
                            {{ i18n.msg_collection_created_successfully }}
                        </div>
                    </article>
                {% elseif is_updated_successfully %}
                    <article class="message is-success">
                        <div class="message-body">
                            {{ i18n.msg_collection_updated_successfully }}
                        </div>
                    </article>
                {% endif %}

                <form method="POST">
                    {% if collection.id %}
                        <input type="hidden" name="_METHOD" value="PUT"/>
                    {% endif %}

                    <div class="columns c-translate">
                        <div class="column is-45">
                            <div class="field">
                                <label class="label" for="title_de">{{ i18n.lbl_collection_title }} *<span
                                            class="tag">de</span></label>
                                <div class="control">
                                    <input id="title_de" name="title_de" class="input validate-required translate language--german" type="text"
                                           autocomplete="off" placeholder="{{ i18n.lbl_database_title_placeholder }}"
                                           data-msg_required="{{ i18n.msg_required }}"
                                           value="{{ collection.title.de }}">
                                </div>
                                {% if errors.title_de %}
                                    <div class="err-required help is-danger">{{ i18n.msg_required }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column is-auto">
                            <div class="is-flex h-100 is-flex-direction-column is-justify-content-space-evenly is-align-content-center is-align-items-center">
                                <button class="level-item icon button is-text translate language--german global pl-5 pr-5">
                                    <i class="fas fa-language"></i><i class="ml-1 fas fa-arrow-right"></i>
                                </button>
                                <button class="icon button is-text translate language--english global pl-5 pr-5">
                                    <i class="fas fa-arrow-left"></i><i class="ml-1 fas fa-language"></i>
                                </button>
                            </div>
                        </div>
                        <div class="column is-45">
                            <div class="field">
                                <label class="label" for="title_en">{{ i18n.lbl_collection_title }} *<span
                                            class="tag">en</span></label>
                                <div class="control">
                                    <input id="title_en" name="title_en" class="input validate-required translate language--english" type="text"
                                           autocomplete="off" placeholder="{{ i18n.lbl_database_title_placeholder }}"
                                           data-msg_required="{{ i18n.msg_required }}"
                                           value="{{ collection.title.en }}">
                                </div>
                                {% if errors.title_en %}
                                    <div class="err-required help is-danger">{{ i18n.msg_required }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input name="is_visible"
                                       type="checkbox" {% if collection is null or collection.id is not defined or collection.is_visible == true %} checked {% endif %}>
                                {{ i18n.lbl_collection_is_visible }}
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input name="is_subject"
                                       type="checkbox" {% if collection.is_subject == true %} checked {% endif %}>
                                {{ i18n.lbl_collection_is_subject }}
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="type">{{ i18n.lbl_collection_sort_by }} *</label>
                        <div class="control">
                            <div class="select">
                                <select id="sort_by" name="sort_by" class="validate-required"
                                        data-msg_required="{{ i18n.msg_required }}">
                                    {% for sort_by in sort_types %}
                                        {% if collection
                                            and collection.sort_by
                                            and sort_by.id == collection.sort_by.id %}
                                            <option value="{{ sort_by.id }}" selected>{{ sort_by.title}}</option>
                                        {% else %}
                                            <option value="{{ sort_by.id }}">{{ sort_by.title}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if errors.sort_by %}
                                    <div class="err-required help is-danger">{{ i18n.msg_required }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <article id="resources-source-panel"
                                     aria-label="{{ i18n.lbl_databases_available }}"
                                     class="panel is-primary">
                                <p class="panel-heading">
                                    {{ i18n.lbl_databases_available }}
                                </p>
                                <div class="panel-block">
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input id="resource-search-input"
                                                   class="input is-fullwidth pickable-search-input"
                                                   placeholder="{{ i18n.aria_search_entries }}"
                                                   aria-label="{{ i18n.aria_search_entries }}"/>
                                        </div>
                                        <div class="control">
                                            <a id="resource-search-button" class="pickable-search-button button is-info">
                                                {{ i18n.lbl_search }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-block panel-block">
                                    <div id="resources-source-list"
                                         data-fetch-url="/api/v1/resources"
                                         data-org-id="{{ organization.ubrId }}"
                                         class="container source-list">
                                        {% embed "shared/pickable-item.twig"
                                            with {"disabled": "true", "searchable": "true", "name": "resources", "is_template": "true"} %}
                                        {% endembed %}
                                    </div>
                                    <button type="button"
                                            class="is-flex is-flex-wrap-wrap is-fullwidth button load-more-button">
                                        {{ i18n.lbl_more }}
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="column">
                            <article id="resources-target-panel"
                                     aria-label="{{ i18n.lbl_databases_selected }}"
                                     class="panel is-primary">
                                <p class="panel-heading">
                                    {{ i18n.lbl_databases_selected }}
                                </p>
                                <div class="list-block panel-block">
                                    <div id="resources-target-list"
                                         class="container picker-target-list">
                                        {% for resource in collection.resources %}
                                            {% embed "shared/pickable-item.twig"
                                                with {"searchable": "false", "is_sortable": "false", "name": "resources"}%}
                                            {% endembed %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    {% if collection.id %}
                        <label class="label">Permalink</label>
                        {% set collectionLink = 'https://' ~ domain ~ '/' ~ organization.ubrId ~ "/browse/collections/" ~ collection.id ~ '/' %}
                        <div class="field notification">
                            <p>
                                {{ i18n.lbl_link_to_collection }} <a href="{{ collectionLink }}" target="_blank">{{ collectionLink }}</a>
                            </p>
                        </div>
                    {% endif %}

                    <div class="field is-grouped">
                        <div class="control">
                            {% if errors|length == 0 and post == true %}
                                <button class="button is-primary" type="submit" name="save"
                                        disabled>{{ i18n.create_orgaform_submit_save }}</button>
                            {% else %}
                                <button class="button is-primary" type="submit"
                                        name="save">{{ i18n.create_orgaform_submit_save }}</button>
                            {% endif %}
                            {% if collection and collection.id %}
                                <button class="button is-danger" type="submit"
                                        name="delete">{{ i18n.lbl_delete }}</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            <div id="entry-modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p id="entry-modal-title" class="modal-card-title"></p>
                        <button id="entry-modal-close" class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body content">
                        <h5>ID <span id="entry-modal-id" class="tag is-light"></span></h5>
                        <h5>{{ i18n.lbl_database_description }}</h5>
                        <p id="entry-modal-content" class=""></p>
                        <h5>{{ i18n.lbl_access_type }}</h5>
                        <p id="entry-modal-access-type" class=""></p>
                    </section>
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}
