{% if (resourceGlobal.description_short.de is empty and resourceGlobal.description_short.en is empty) or (resourceLocal.overwrite.description_short.de != "" or resourceLocal.overwrite.description_short.en != '')%}
    {% set isLocalized = true %}
{% else %}
    {% set isLocalized = false %}
{% endif %}

<div id="title_short_description" class="level mb-2 mt-6
     {% if resourceGlobal.description_short.de == "" and resourceGlobal.description_short.en == "" and
    resourceLocal.description_short.de == "" and resourceLocal.description_short.en == "" %}
         is-hidden
     {% endif %}
     ">
    <h3 class="title is-3 mb-2">
        {{ i18n.lbl_database_short_description }}
    </h3>
    {%  if selectedOrganization.ubrId is not empty %}
    <div class="tags has-addons is-clickable is-unselectable localization-tag" data-id="field-shortdescription">
        {% if resourceLocal.overwrite.description_short.de is empty and resourceLocal.overwrite.description_short.de|length < 1 and resourceLocal.overwrite.description_short.en is empty and resourceLocal.overwrite.description_short.en|length < 1 %}
            <span class="tag global-tag">{{ i18n.lbl_change_to_local }}</span><!--
            --><span class="tag local-tag is-info is-light is-hidden">{{ i18n.lbl_change_to_global }}</span><!--
            --><span class="tag has-background-grey-lighter">&nbsp;</span>
        {% else %}
            <span class="tag global-tag is-hidden">{{ i18n.lbl_change_to_local }}</span><!--
            --><span class="tag local-tag is-info is-light">{{ i18n.lbl_change_to_global }}</span><!--
            --><span class="tag has-background-info">&nbsp;</span>
        {% endif %}
        <input type="checkbox" name="shortdescription-local" class="localization-checkbox" hidden {% if isLocalized %} checked {% endif %}>
    </div>
    {% endif %}
</div>
<!-- GLOBAL -->
<div class="field field-shortdescription global c-translate
        {% if isLocalized %}
            is-hidden
        {% endif %}
        ">
    <div id="columns_short_description_global" class="columns c-translate">
        <div class="column is-45">
            <div class="field">
                <label class="label level-left">
                    <span class="is-size-7 has-text-grey is-lowercase level-item">
                                {{ i18n.lbl_german }}
                    </span>
                </label>
                <div class="control">
                    <textarea id="description_short_global_de"
                           name="description_short_global_de"
                           class="input textarea translate language--german global"
                           type="text"
                           autocomplete="off"
                           placeholder="{{ i18n.lbl_database_description_short_placeholder }}"
                           >{{ resourceGlobal.description_short.de }}</textarea>
                </div>
            </div>
        </div>
        <div class="column is-auto">
            <div class="is-flex h-100 is-flex-direction-column is-justify-content-space-evenly is-align-content-center is-align-items-center">
                <button class="level-item icon button is-text translate language--german global pl-5 pr-5">
                    <i class="fas fa-language"></i><i class="ml-1 fas fa-arrow-right"></i>
                </button>
                <button class="icon button is-text translate language--english global pl-5 pr-5">
                    <i class="fas fa-arrow-left"></i><i class="ml-1 fas fa-language"></i>
                </button>
            </div>
        </div>
        <div class="column is-45">
            <div class="field">
                <label class="label level-left">
                    <span class="is-size-7 has-text-grey is-lowercase level-item">
                                {{ i18n.lbl_english }}
                    </span>
                </label>
                <div class="control">
                    <textarea id="description_short_global_en"
                           name="description_short_global_en"
                           class="input textarea translate language--english global"
                           type="text"
                           autocomplete="off"
                           placeholder="{{ i18n.lbl_database_description_short_placeholder }}"
                           >{{ resourceGlobal.description_short.en }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
                
                
                
<!-- LOCAL -->
<div class="field field-shortdescription local c-translate
        {% if resourceLocal.overwrite.description_short.de is empty and resourceLocal.overwrite.description_short.de|length < 1 and resourceLocal.overwrite.description_short.en is empty and resourceLocal.overwrite.description_short.en|length < 1 %}
            is-hidden
        {% endif %}
        ">
    <div id="columns_short_description_local" class="columns">
        <div class="column is-45">
            <div class="field">
                <label class="label level-left">
                    <span class="is-size-7 has-text-grey is-lowercase level-item">
                                {{ i18n.lbl_german }}
                    </span>
                </label>
                <div class="control">
                    <textarea id="description_short_local_de"
                           name="description_short_local_de"
                           class="input textarea translate language--german local"
                           type="text"
                           autocomplete="off"
                           placeholder="{{ i18n.lbl_database_description_short_placeholder }}"
                           >{{ resourceLocal.overwrite.description_short.de }}</textarea>
                </div>
            </div>
        </div>
        <div class="column is-auto">
            <div class="is-flex h-100 is-flex-direction-column is-justify-content-space-evenly is-align-content-center is-align-items-center">
                <button class="level-item icon button is-text translate language--german global pl-5 pr-5">
                    <i class="fas fa-language"></i><i class="ml-1 fas fa-arrow-right"></i>
                </button>
                <button class="icon button is-text translate language--english global pl-5 pr-5">
                    <i class="fas fa-arrow-left"></i><i class="ml-1 fas fa-language"></i>
                </button>
            </div>
        </div>
        <div class="column is-45">
            <div class="field">
                <label class="label level-left">
                    <span class="is-size-7 has-text-grey is-lowercase level-item">
                                {{ i18n.lbl_english }}
                    </span>
                </label>
                <div class="control">
                    <textarea id="description_short_local_en"
                           name="description_short_local_en"
                           class="input textarea translate language--english global"
                           type="text"
                           autocomplete="off"
                           placeholder="{{ i18n.lbl_database_description_short_placeholder }}"
                           >{{ resourceLocal.overwrite.description_short.en }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div class="columns">
    <div class="column pt-0">
        <button id="btn_add_short_description"
                class="button is-primary is-inverted has-text-weight-semibold is-small
                {% if resourceGlobal.description_short.de != "" and resourceGlobal.description_short.en != "" or
                    resourceLocal.overwrite.description_short.de != "" and resourceLocal.overwrite.description_short.en != ""%}
                    is-hidden
                {% endif %}
                " 
                aria-label="{{ i18n.lbl_add_short_description }}"
                type="button">
            <span class="icon mr-1">
                <i class="fas fa-plus"></i>
            </span>
            {{ i18n.lbl_add_short_description }}
        </button>

        <button id="btn_remove_short_description"
                class="button is-danger is-inverted has-text-weight-semibold is-small
                {% if resourceGlobal.description_short.de == "" and resourceGlobal.description_short.en == "" or
                    resourceLocal.overwrite.description_short.de == "" and resourceLocal.overwrite.description_short.en == "" %}
                    is-hidden
                {% endif %}
                " 
                aria-label="{{ i18n.lbl_remove_short_description }}"
                type="button">
            <span class="icon mr-1">
                <i class="fas fa-ban"></i>
            </span>
            {{ i18n.lbl_remove_short_description }}
        </button>
    </div>
</div>
